@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Oranienbaum&family=Tangerine:wght@700&family=Urbanist:wght@300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background:linear-gradient(rgba(0,0,0,0.7),rgba(72,149,239,0.3)), url(images/bgFirst.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 80%;
  height: 70vh;
  margin: 0px auto;
}

.content h1{
  color: #fff;
  font-size: 4rem;
  font-family: 'Be Vietnam Pro', sans-serif;
}
time{
  font-size: 2rem;
  color:#fff;
  font-family: 'Be Vietnam Pro', sans-serif;
}
.content p{
  color: #fff ;
  font-size: 2.5rem;
  font-family: 'Be Vietnam Pro', sans-serif;
}

#line{
  font-size: 1.2rem;
  margin-top: 18px;
  width: 50%;
  color: #fff;
}
